// Для карусели в новостях
.VueCarousel-navigation-prev {
    padding: 0;
    margin-left: 30px;
}

.VueCarousel-navigation-next {
    padding: 0;
    margin-right: 30px;
}

.VueCarousel-pagination {
    margin-top: -100px !important;
    z-index: 1;
}

// Для md в info
.markdown-body * {
    font-family: "Times New Roman";
}