$gray-darkest: #151924;
$light-blue: #8bbfeb;
$blue: rgb(85, 123, 173);
// Оттенки серого
$white: white;
$gray-light: #babec1;
$gray: #81919b;
$gray-dark: #415663;
$black: #11131b;
// Другие цвета
$primary-color: #14233b;
$blue-dark: 091322;
$orange: #ff9a44;
$orange-juice: linear-gradient(90deg, #fc6080 0%, #ff9a44 100%);
$red: #d81a35;