$gray-darkest: #151924;
// Оттенки серого
$white: white;
$gray-light: #babec1;
$gray: #81919b;
$gray-dark: #415663;
$black: #11131b;
// Другие цвета
$primary-color: #14233b;
$blue-light: #2d9cdb;
$blue: rgb(85, 123, 173);
$blue-dark: #091322;
$blue-fly: linear-gradient(90deg, #48c6ef 0%, #6f86d6 100%);
$blue-deep: linear-gradient(90deg, #e0c3fc 0%, #8ec5fc 100%);
$blue-steel: #585e92;
$orange: #ff9a44;
$orange-juice: linear-gradient(90deg, #fc6080 0%, #ff9a44 100%);
$orange-juice-dark: linear-gradient(90deg, #be3853 0%, #c77126 100%);
$red: #ff364e;
