// Оттенки серого
$white: white;
$gray-light: #b6b6b6;
$gray: gray;
$gray-dark: #81919b;
$gray-darkest: #151924;
$black: #11131b;
// Другие цвета
$light-blue: #8bbfeb;
$blue: rgb(85, 123, 173);
$primary-color: #14233b;